
 <div>
    <mat-card  [class.mat-elevation-z18]="!isActive" >
            <div class="text" [style.overflow]="'auto'" [style.height.px]="'500'">
     <mat-card-header class="mat-h1">
            <label>cart items:</label>
    </mat-card-header>
    <div class="mat">
    <mat-grid-list cols="2"> 
        <div *ngFor="let obj of cartres">
        <mat-card [class.mat-elevation-z15]="!isActive"   >
        <!-- <mat-grid-tile class="tile1" > -->
                 <!-- <img mat-card image="black" src="{{obj.product[0].img}}" alt="">   
                 </mat-grid-tile>
           
              <div class="card">
                <mat-grid-tile>  
                -->
                
                        <div class="picture">  
                          <img mat-card-image src="{{obj.product[0].img}}">
                          </div>
                          <div class="details">
                          <mat-card-content>
                              
                        <!-- <p><label><b>Expected Delivery Date:</b></label>{{obj.ExpectedDate}}</p> -->
                          <!-- </mat-card-content>
                        </div>
                      </mat-card>
                        <mat-tab-group>
                                <mat-tab label="Item1" *ngFor="let obj of cartres">   -->
                         
                                    <p><label>ModelName:</label> {{obj.product[0].modelname}} </p>
          
                                    <p> <label>Mobileprice:</label>{{obj.product[0].mobileprice}}</p>
           
                                    <p><label>RAM:</label> {{obj.product[0].ram}}</p>
           
                                    <p><label>Storage:</label> {{obj.product[0].storage}}</p>
          
         <!-- </mat-grid-tile>  -->
                          </mat-card-content>
                                 </div> 

                                  <!-- <mat-grid-tile class="tile2" >
                                    <div class="cal">
                                                <mat-card [class.mat-elevation-z15]="!isActive"> -
                                        <p>
                                            <label> price:</label>
                                     </p>
                                     <p>{{obj.product[0].mobileprice}}</p>
                                        <p>
                                            <label> Quantity:</label>
                                          </p>
                                          <p>{{obj.product[0].quantity}}</p>
                                        <p>
                                            <label> Total Price:</label>
                                          </p>
                                          <p>{{obj.product[0].mobileprice*obj.product[0].quantity}}</p>
                                          </mat-card> 
                                         </div>
                                     
                                          
                                     </mat-grid-tile>   -->
                                      <mat-card-actions>
             <button mat-raised-button (click)="confirm()" color="primary">Order Now</button>
        </mat-card-actions> 
     
 </mat-card>
</div>
        <!-- </mat-grid-tile>   -->
     <!-- <div>
         <mat-grid-tile class="tile2" > 
       <div class="cal">
                  <mat-card [class.mat-elevation-z15]="!isActive">
           <p>
               <label> price:</label>
        </p>
        <p>{{obj.mobileprice}}</p>
           <p>
               <label> Quantity:</label>
             </p>
             <p>{{obj.quantity}}</p>
           <p>
               <label> Total Price:</label>
             </p>
             <p>{{obj.mobileprice*obj.quantity}}</p>
            </mat-card>
            </div>
        
             
        </mat-grid-tile>
    </div>
</div>
    </mat-grid-list>
    <mat-card-actions>
            <button mat-raised-button (click)="confirm()" color="primary">Order Now</button>
        </mat-card-actions> -->
     
<!-- </div> -->
<!-- </mat-card>
</div>  -->
