.cardlist{
  display:flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  
}
mat-card{
   
    height:40%;
    width:50%;
    margin-left:5%;
    margin-right:40%;
    margin-bottom: 5%;
    margin-top:3%;
    border: darkblue;
   
    }

.picture
{
  height:20%;
  width:40%;
  margin-top:-35%;
  margin-left: -40%;
  image-resolution: 50%;
}

