.deliveryadd
{
  height:50%;
  width:80%; 
  /* margin-top:10%;  */
  /* position: fixed; */
  left:50%;
  top: 0%;
  margin-left: 5%;
}

.main{
  height:35%;
  top:40%;
  width:80%;
  /* width:90%;  */

  /* margin-left: 5%;  */
  margin-right: 2%;
  margin-top:5%;
}
mat-card{
  height:23%;
  width:95%;
  margin-right:50%;
  margin-left: 5%;
  margin-top:2%;
  margin-bottom:10%;
  /* margin-top:3%; */
  border: darkblue;
  position: relative;
  }

.details{
  margin-left:40%;
  margin-top:-3%;
  height:20%;

}
.picture
{
height:12%;
width:8%;
margin-top:3%;
margin-left:10%;
image-resolution:20%;
}
.order{
  width:60%;
  margin-top: 2%;
  height: 240%;
}
.Payment{
  margin-bottom: 20%;
}