mat-card{
  height:70%;
  width:70%;
  margin-right:15%;
  margin-left:5%;
  margin-top:2%;
  margin-bottom:5%;
  /* margin-top:3%; */
  border: darkblue;
  position: relative;
  }

.details{
  margin-left:50%;
  margin-top:-7%;
  height:50%;
width: 80%;
margin-bottom: 40%;
position: fixed;
}

.picture
{
height:-10%;
width:-50%;
margin-top:3%;
margin-left:10%;
image-resolution:-100%;
}
.card1{
 
  width: 90%;
height: 60%;
}

.card{
  width:50%;
  height: 30%;
}
.mat{
  width:-50%;
  height: 590%;
  image-resolution: -80%;
}