.firstcard{
  height: 100%;
  width: 90%;
  margin-left:5%;
  margin-right: 5%; 
  display:flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;

}
/* .cardlist{
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
  } */

  .my-card{
      /* min-height: 45%; */
      /* height:40%;
      width:120%;

      margin-left:5%;
      margin-right:25%;
      margin-bottom: 2%;
      margin-top:1%; */
      height:42%;
      /* min-width:50%; */
      width: 150%;
      margin-left:5%;
      margin-right:5%;
      margin-bottom:6%;
      margin-top:3%;
      border: darkblue;
      /* position: relative; */
      }
  
  .picture
  {
    height:10%;
    width:20%;
    /* left:20%; */
    margin-top:5%;
    margin-left: 20%;
    image-resolution: 25%;
  }

  .content{
    font: 1em sans-serif;
    left:40%;
    
  }